@model EditUserViewModel

<form asp-controller="Users" asp-action="Edit" method="post" id="editForm" onsubmit="onSubmit();">
    <div class="modal-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" type="hidden"/>
        <div class="form-group">
            <label asp-for="Name" class="form-control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="form-control-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" name="Update" />
    </div>
</form>
