@section Links{
    <partial name="Topnav/_FilterAndCreateLinks" />
}
<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="row card-header border-0">
                <h3 class="col-sm-4 mb-0">Users table</h3>
                <!-- Search form -->
                <partial name="_SearchTable" />
            </div>
            <!-- Users Table -->
            <partial name="_UserTablePartial" />
        </div>
    </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" data-url='@Url.Action("Create")'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Create Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- Edit Model -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" data-url='@Url.Action("Edit")'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body"></div>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="Delete" asp-controller="Users">
                <input type="hidden" name="id" /> <!-- Hidden field for the employee ID -->
                <div class="modal-body">
                    <p>Are you sure you want to delete this User?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>

            </form>
        </div>
    </div>
    
</div>

<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Name</label>
                    <input name="Name" class="form-control" type="text" >
                </div>
                <div class="form-group">
                    <label for="example-email-input" class="form-control-label">Email</label>
                    <input name="Email" class="form-control" type="email" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="filterButton" type="button" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { 
    <script>
        $(document).ready(function () {
            // Handle click event on the "Create" link
            $(".create-link").on("click", function (e) {
                var url = $("#createModal").data('url');
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        $("#createModal .modal-body").html(data);
                        $("#createModal").modal("show");
                        $.validator.unobtrusive.parse($("#createForm"));
                    }
                });
            });

            // Handle click event on the "Edit" link
            $(".edit-link").on("click", function (e) {
                var url = $("#editModal").data('url');
                var userId = $(this).data("id");
                // Make an AJAX request to load the employee data
                $.ajax({
                    type: "GET",
                    url: url, // Replace with your actual action method
                    data: { id: userId },
                    success: function (user) {
                        $("#editModal .modal-body").html(user);
                        $("#editModal").modal("show");
                        $.validator.unobtrusive.parse($("#editForm"));
                    },
                    error: function () {
                        console.error("Error loading user data");
                    }
                });
            });

            // Handle delete event on the "Delete" link
            $(".delete-link").on("click", function (e) {
                e.preventDefault();

                var userId = $(this).data("id");
                // Set the user ID in the modal for reference
                $("#deleteModal input[name='id']").val(userId)

                // Show the modal
                $("#deleteModal").modal("show");
            });
            
            // Handle search event on search input
            $(".search-input").on("input", function (e) {
                // Handle search logic here
                var inputValue = $(this).val();

                // Make an AJAX request to the Search Action
                $.ajax({
                    url: "/Users/Search",
                    method: "GET",
                    data: { query: inputValue },
                    success: function (partialView) {
                        // Update the table with the received HTML

                        $("#user-table").html(partialView);
                    },
                    error: function () {
                        console.error("Error performing search");
                    }
                });
            });

            // Handle filter event on "Filter" link
            $("#filterButton").on("click", function (e) {
                console.log("Clicked")
                var name = $("#filterModal input[name='Name']").val();
                var email = $("#filterModal input[name='Email']").val();

                $("#filterModal").modal("hide");

                // AJAX call to the controller action
                $.ajax({
                    url: "/Users/Filter",
                    method: "GET",
                    data: {
                        fullName: name,
                        email: email
                    },
                    success: function (partialView) {
                        console.log("sucsees")
                        // Update the table with the received HTML
                        $("#user-table").html(partialView);
                    },
                    error: function () {
                        console.error("Error performing search");
                    }
                });
            });
        });
    </script>
}