@model BatchViewModel

<form method="post" asp-action="Edit" asp-controller="Batch" id="editForm" onsubmit="onSubmit();">
    <input asp-for="Id" type="hidden" /> <!-- Hidden field for the batch ID -->
    <input asp-for="CourseId" type="hidden" />
    <div class="modal-body">
        <div class="form-group">
            <label asp-for="StartDate" class="form-control-label">Start Date</label>
            <input asp-for="StartDate" type="date" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="form-control-label">End Date</label>
            <input asp-for="EndDate" type="date" class="form-control" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StartTime" class="form-control-label">Start Time</label>
            <input asp-for="StartTime" type="time" class="form-control" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EndTime" class="form-control-label">End Time</label>
            <input asp-for="EndTime" type="time" class="form-control" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>


        <!-- Add other form fields as needed -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>