@section Links {
    <partial name="Topnav/_FilterAndCreateLinks" />
}
<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="row card-header border-0">
                <h3 class="col-sm-4 mb-0">Batch table</h3>
                <!-- Search form -->
                <partial name="_SearchTable" />
            </div>
            <!-- Course Table -->
            <partial name="_BatchTablePartial" />
        </div>
    </div>
</div>

            
<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" data-url='@Url.Action("Create")'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Create Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<!-- Modal for Edit Form -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="Edit" asp-controller="Batch">
                <input type="hidden" for="Id" name="Id" /> <!-- Hidden field for the employee ID -->

                <div class="modal-body">
                    <div class="form-group">
                        <label for="StartDate" class="form-control-label">Start Date</label>
                        <input for="StartDate" name="StartDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="EndDate" class="form-control-label">End Date</label>
                        <input for="EndDate" name="EndDate" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="StartTime" class="form-control-label">Start Time</label>
                        <input for="StartTime" name="StartTime" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="EndTime" class="form-control-label">End Time</label>
                        <input for="EndTime" name="EndTime" class="form-control" />
                    </div>
                    

                    <!-- Add other form fields as needed -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="Delete" asp-controller="Batch">
                <input type="hidden" name="id" /> <!-- Hidden field for the Batch ID -->
                <div class="modal-body">
                    <p>Are you sure you want to delete this Batch?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <label for="startingdate" class="form-control-label">Starting Date</label>
                <input class="form-control" type="date" value="2018-11-23" id="startingdate" name="StartDate">
            </div>
            <div class="form-group">
                <label for="enddate" class="form-control-label">End Date</label>
                <input class="form-control" type="date" value="2018-11-23" id="enddate" name="EndDate">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="filterButton" type="button" class="btn btn-primary">Filter</button>
            </div>
            </div>
            
            </div>
        </div>
    



@section Scripts {
    <script>
        $(document).ready(function () {

            // Handle click event on the "Create" link
            $(".create-link").on("click", function (e) {
                var url = $("#createModal").data('url');
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (data) {
                        console.log(data);
                        $("#createModal .modal-body").html(data);
                        $("#createModal").modal("show");
                        $.validator.unobtrusive.parse($("#createForm"));
                    }
                });
            });

            // Handle click event on the "Edit" link
            $(".edit-link").on("click", function (e) {
                e.preventDefault();

                var batchId = $(this).data("id");
                console.log("ID :", batchId);
                // Make an AJAX request to load the employee data
                $.ajax({
                    url: "/Batch/GetBatchId", // Replace with your actual action method
                    method: "GET",
                    data: { id: batchId },
                    success: function (batch) {
                        // Populate the modal with the employee data
                        $("#editModal input[name='Id']").val(batch.id);
                        $("#editModal input[name='StartDate']").val(batch.startDate);
                        $("#editModal input[name='EndDate']").val(batch.endDate);
                        $("#editModal input[name='StartTime']").val(batch.startTime);
                        $("#editModal input[name='EndTime']").val(batch.endTime);

                        // Show the modal
                        $("#editModal").modal("show");
                    },
                    error: function () {
                        console.error("Error loading employee data");
                    }
                });
            });

            // Handle click event on the "Delete" link
            $(".delete-link").on("click", function (e) {
                e.preventDefault();
                var batchId = $(this).data("id");
                // Set the batch ID in the modal for reference
                $("#deleteModal input[name='id']").val(batchId);

                // Show the modal
                $("#deleteModal").modal("show");
            });


            // Handle search event on search input
            $(".search-input").on("input", function (e) {
                // Handle search logic here
                var inputValue = $(this).val();

                // Make an AJAX request to the Search Action
                $.ajax({
                    url: "/Batch/Search",
                    method: "GET",
                    data: { query: inputValue },
                    success: function (partialView) {
                        // Update the table with the received HTML
                        $("#batch-table").html(partialView);
                    },
                    error: function () {
                        console.error("Error performing search");
                    }
                });
            });


            // Handle filter event on "Filter" link
            $("#filterButton").on("click", function (e) {
                var startDate = $("#filterModal input[name='StartDate']").val();
                var endDate = $("#filterModal input[name='EndDate']").val();

                $("#filterModal").modal("hide");

                // AJAX call to the controller action
                $.ajax({
                    url: "/Batch/Filter",
                    method: "GET",
                    data: {
                        startDate: startDate,
                        endDate: endDate
                    },
                    success: function (partialView) {
                        // Update the table with the received HTML
                        $("#batch-table").html(partialView);
                    },
                    error: function () {
                        console.error("Error performing search");
                    }
                });
            });


        });
    </script>
}
