<div class="col-lg-6 col-5 text-right">
    <!-- Link trigger modal -->
    <a href="#" class="btn btn-sm btn-neutral create-link">
        New
    </a>
    <a href="#" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#filterModal">Filters</a>
</div>