@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="card bg-secondary shadow border-0">
    <div class="card-header bg-transparent pb-5">
        <div class="text-muted text-center mt-2 mb-3">
            <small>Set Password</small>
        </div>
    </div>
    <div class="card-body px-lg-5 py-lg-5">
        <form id="set-password-form" method="post">
            @if (!ViewData.ModelState.IsValid && ViewData.ModelState[string.Empty] != null)
            {
                @foreach (var error in @ViewData.ModelState[string.Empty]?.Errors)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span>@error.ErrorMessage</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }
            }
            <div class="form-floating mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="ni ni-lock-circle-open"></i>
                        </span>
                    </div>
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="Please enter your new password."/>
                </div>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="ni ni-lock-circle-open"></i>
                        </span>
                    </div>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Please confirm your new password."/>
               </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Set Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
