
<footer class="py-5 w-100 position-absolute bottom-0" >
    <div class="container">
        <div class="row align-items-center align-content-center justify-content-around">
            <div class="copyright text-center text-muted">
                &copy; 2024
                <a href="" class="font-weight-bold ml-1" target="_blank">Ministry of Energy and Minerals </a>
                . All rights reserved
            </div>
        </div>
    </div>
</footer>
