@{
    var status = Enum.GetValues(typeof(ProgramStatus))
                         .Cast<ProgramStatus>()
                         .ToList();
}
<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="row card-header border-0">
                <h3 class="col-sm-4 mb-0">Course table</h3>
                <!-- Search form -->
                <partial name="_SearchTable" />
            </div>
            <!-- Course Table -->
            <partial name="_CourseTablePartial" />
        </div>
    </div>
</div>
           

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" data-url='@Url.Action("Create")'>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Create New Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- Modal for Edit Form -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="Edit" asp-controller="Courses">
                <input type="hidden" for="Id" name="Id" /> <!-- Hidden field for the employee ID -->

                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name" class="form-control-label">Name</label>
                        <input for="Name" name="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Description" class="form-control-label">Description</label>
                        <input for="Description" name="Description" class="form-control" />
                    </div>
          
                    <div class="form-group">
                        <label for="AdditionDate" class="form-control-label">AdditionDate</label>
                        <input for="AdditionDate" name="AdattionDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Location" class="form-control-label">Location</label>
                        <input for="Location" name="Location" class="form-control" />
                    </div>
                    <!-- Add other form fields as needed -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Push Confirmation Modal -->
<div class="modal fade" id="pushModal" tabindex="-1" role="dialog" aria-labelledby="pushModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pushModalLabel">Push Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="Push" asp-controller="Courses">
                <input type="hidden" name="id" /> <!-- Hidden field for the Course ID -->
                <div class="modal-body">
                    <p>Are you sure you want to push this Course to managers?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Push</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-action="Delete" asp-controller="Courses">
                <input type="hidden" name="id" /> <!-- Hidden field for the Course ID -->
                <div class="modal-body">
                    <p>Are you sure you want to delete this Course?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- filter Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">filter Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <input type="hidden" for="Id" name="Id" /> <!-- Hidden field for the employee ID -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name" class="form-control-label">Name</label>
                        <input for="Name" name="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Description" class="form-control-label">Description</label>
                        <input for="Description" name="Description" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="additionDate" class="form-control-label">Addition Date</label>
                        <input class="form-control" type="date" value="2018-11-23" id="additionDate" name="AdattionDate">
                    </div>
                    <div class="form-group">
                        <label for="Location" class="form-control-label">Location</label>
                        <input for="Location" name="Location" class="form-control" />
                    </div>
                <div class="form-group">
                    <label for="Status" class="form-control-label">Status</label>
                    <select name="selectedStatus" class="form-control">
                        <option value="-1">Select Program Status</option>
                        @foreach (var option in status)
                        {
                            <option value="@(option)">@option</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="filterButton" type="button" class="btn btn-primary">Filter</button>
                </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {

                // Handle click event on the "Create" link
                $(".create-link").on("click", function (e) {
                    var url = $("#createModal").data('url');
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (data) {
                            console.log(data);
                            $("#createModal .modal-body").html(data);
                            $("#createModal").modal("show");
                            $.validator.unobtrusive.parse($("#createForm"));
                        }
                    });
                });


            // Handle click event on the "Edit" link
            $(".edit-link").on("click", function (e) {
                e.preventDefault();

                var courseid= $(this).data("id");
                console.log("ID :", courseid);
                // Make an AJAX request to load the course data
                $.ajax({
                    url: "/Courses/GetCoursesId", // Replace with your actual action method
                    method: "GET",
                    data: { id: courseid },
                    success: function (course) {
                        // Populate the modal with the course data
                        $("#editModal input[name='Id']").val(course.id);
                        $("#editModal input[name='Name']").val(course.name);
                        $("#editModal input[name='Description']").val(course.description);
                        $("#editModal input[name='AdattionDate']").val(course.adattionDate);
                        $("#editModal select[name='Location']").val(course.location);

                        // Show the modal
                        $("#editModal").modal("show");
                    },
                    error: function () {
                        console.error("Error loading employee data");
                    }
                });
            });

            // Handle click event on the "Push" link
            $(".push-link").on("click", function (e) {
                e.preventDefault();
                var courseId = $(this).data("id");
                // Set the course ID in the modal for reference
                $("#pushModal input[name='id']").val(courseId);

                // Show the modal
                $("#pushModal").modal("show");
            });

            // Handle click event on the "Delete" link
            $(".delete-link").on("click", function (e) {
                e.preventDefault();
                var courseId = $(this).data("id");
                // Set the course ID in the modal for reference
                $("#deleteModal input[name='id']").val(courseId);

                // Show the modal
                $("#deleteModal").modal("show");


            });


            // Handle search event on search input
            $(".search-input").on("input", function (e) {
                // Handle search logic here
                var inputValue = $(this).val();

                // Make an AJAX request to the Search Action
                $.ajax({
                    url: "/Courses/Search",
                    method: "GET",
                    data: { query: inputValue },
                    success: function (partialView) {
                        // Update the table with the received HTML
                        $("#course-table").html(partialView);
                    },
                    error: function () {
                        console.error("Error performing search");
                    }
                });
            });

                // Handle filter event on "Filter" link
                $("#filterButton").on("click", function (e) {
                    var name = $("#filterModal input[name='Name']").val();
                    var description = $("#filterModal input[name='Description']").val();
                    var location = $("#filterModal input[name='Location']").val();
                    var additionDate = $("#filterModal input[name='AdattionDate']").val();
                    var status = $("#filterModal input[name='selectedStatus']").val();

                    $("#filterModal").modal("hide");

                    // AJAX call to the controller action
                    $.ajax({
                        url: "/Courses/Filter",
                        method: "GET",
                        data: {
                            name: name,
                            description: description,
                            location: location,
                            additionDate: additionDate,
                            status: status
                        },
                        success: function (partialView) {
                            // Update the table with the received HTML
                            $("#course-table").html(partialView);
                        },
                        error: function () {
                            console.error("Error performing search");
                        }
                    });
                });



        });
    </script>
}

